body {
    font-family: 'Inter', sans-serif;
    background: #1C1C1C;
}

#container {
    background: #1F2937;
    padding: 100px 52px 115px 52px;
    margin: 64px auto;
    max-width: 550px;
    min-height: 550px;
}

#title-txt {
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 100%;
    color: #FFFFFF;
    margin-bottom: 0;
}

#green-txt {
    color: #4ADF86;
}

#slogan-txt {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #D5D4D8;
    margin-top: 20px;
    margin-bottom: 0px;
}

#password-btn {
    padding: 9px 17px 9px 15px;
    background: #10B981;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 51px;
}

#division {
    width: 446px;
    height: 0px;
    left: 52px;
    top: 361px;

    border: 1px solid #2F3E53;
    margin: 70px 52px;

}

.rectangle-background {
    width: 211px;
    height: 39px;
    background: #273549;
    border-radius: 6px;
}

#generated-password-container {
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
    margin-right: 50px;
}

.password-txt {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: #55F991;
    text-align: center;
    margin-top: 4px;

}

.symbol-number-container {
    margin-top: 40px;
    display: flex;
}

.symbols-number-txt {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 24px;
    color: white;
    margin-right: 15px;
}

.on-off-btn {
    padding: 0px 20px 0px 20px;
    background: #10B981;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}

#options-container {
    display: flex;
    justify-content: space-around;
}

#length-input {
    margin: 40px auto 0 auto;
    width: 60%;
    display: block;
    background: #273549;
    border-radius: 6px;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}